@using UTS.ProduceStore.WebFrontEnd.Models;
@model HomeModel
@{
    ViewBag.Title = "Home Page";
}



<h1>Welcome</h1>
<p>Ask a question: </p>

<!--Html.EditorFor(model => model.Question)Html.TextBox("questionBox")
<input type="text" id="questionBox" name="question"/>
Html.ActionLink("Ask!", "Answer")-->
@using (Html.BeginForm("Answer", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Question)
    <button type="submit">Ask!</button>
}

<p>
    @ViewBag.Answer
</p>


